body {
    min-height: 300vh;
    margin: 0;
    padding: 10rem;
    background-image: url('assets/images/mochi/mochi_1.png');
    background-repeat: repeat;
    background-size: 400px;
    background-position: center;
    animation: alternateBackground 1s infinite linear;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: yellow;
    text-shadow: 2px 2px 4px #000000;
    overflow: scroll;
}

/* Animation for alternating background images */
@keyframes alternateBackground {
    0%, 50% {
        background-image: url('assets/images/mochi/mochi_1.png');
    }
    50.1%, 100% {
        background-image: url('assets/images/phrank/phrank_1.png');
    }
}

/* Shake animation for images */
.shake-image {
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    25% {
        transform: translate(-5px, 0) rotate(-25deg);
    }
    50% {
        transform: translate(5px, 0) rotate(25deg);
    }
    75% {
        transform: translate(-5px, 0) rotate(-25deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

/* Display 1 style */
.display-1 {
    text-shadow: 2px 2px 4px #000000;
}

/* Face image style */
.face-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/* Confetti canvas style */
#confetti-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

/* Gift box style */
.gift-box {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
}

.gift-box:hover {
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

.old-letter {
    flex: 1; /* Make old letter take 50% width */
    height: 600px;
    background-image: url('assets/images/old_paper.png');
    background-size: cover;
    padding: 100px;
    text-align: left;
    font-family: 'Great Vibes', cursive;
    font-size: 24px;
    color: black;
}

.event-container {
    flex: 1; /* Make event container take 50% width */
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}



.event-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.event-details {
    color: #666;
    margin-bottom: 15px;
}

.event-description {
    line-height: 1.6;
    color: #444;
}

.event-meta {
    margin-top: 20px;
    font-size: 14px;
    color: #888;
}