:root {
    --clc-green: #73ac52;
    --clc-red: #ff5e38;
    --clc-white: #fff0e9;
}


body, html {
    height: 100%;
    background-color: var(--clc-green) !important;
    font-family: fantasy !important;
}


img {
    height: inherit;
    width: inherit;
}


.btn-red {
    color: var(--clc-white) !important;
    background-color: var(--clc-red) !important;
    border-radius: 0 !important;
    border: solid 0.25rem white !important;
    font-size: 24px !important;
    margin-top: 240px;
    width: fit-content;
}


.btn-red:hover {
    color: var(--clc-white) !important;
    background-color: #cc4c2f !important;
}


.title-container {
    padding-top: 20vh;
}


.title {
    font-size: 6.5rem;
}


.subtitle {
    font-size: 4rem;
}


.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


.card {
    width: 16rem;
    margin: 1rem;
    background: none !important;
    border-radius: 0 !important;
    border: 1rem solid var(--clc-white) !important;
}


.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-text {
    text-align: center;
    color: var(--clc-white);
}


.chickenllamacactus {
    width: inherit;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(82, 82, 82);
}


.nav {
    justify-content: center;
}


.nav-link {
    font-size: 24px !important;
    color: var(--clc-white) !important;
}


.nav-link:hover {
    background-color: var(--clc-red) !important;
}
