:root {
    --clc-green: #73ac52;
    --clc-red: #ff5e38;
    --clc-white: #fbfcff;
    --clc-black: #22333B;
}


body, html {
    height: 100%;
    background-color: var(--clc-green) !important;
}


main {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}


img {
    height: inherit;
    width: inherit;
}

.btn {
    border: solid 0.25rem white !important;
}

.btn-red {
    color: var(--clc-white) !important;
    background-color: var(--clc-red) !important;
}


.btn-red:hover {
    color: var(--clc-white) !important;
    background-color: #cc4c2f !important;
}


.title-container {
    padding-top: 20vh;
}


.title {
    font-size: 6.5rem;
}


.subtitle {
    font-size: 4rem;
}


.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


.card {
    width: 16rem;
    margin: 1rem;
    background: none !important;
    border-radius: 0 !important;
    border: 1rem solid var(--clc-white) !important;
}


.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-text {
    text-align: center;
    color: var(--clc-white);
}


.chickenllamacactus {
    width: inherit;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(82, 82, 82);
}


.nav {
    justify-content: center;
}


.nav-link {
    font-size: 24px !important;
    color: var(--clc-white) !important;
}


.nav-link:hover {
    background-color: var(--clc-red) !important;
}


.clc-form {
    border-radius: 1rem;
    color: var(--clc-white);
    padding: 2.5rem;
    max-width: 37.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.clc-form .clc-form-header {
    display: flex;
    align-content: center;
    margin-top: 0 !important;
}

.clc-form .clc-form-header h3 {
    text-align: center;
    margin-bottom: 0;
}

.clc-form .row {
    margin-top: 1rem;
}

.clc-form button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
}

.text-clc-red {
    color: var(--clc-red);
}


.clc-form .form-control {
    background-color: transparent !important;
    color: var(--clc-white) !important;
}