:root {
    --clc-green: #73ac52;
    --clc-red: #ff5e38;
    --clc-white: #fbfcff;
    --clc-black: #333333;
}


@media only screen and (max-width: 576px) {
    .title {
        font-size: 4.5rem !important;
    }

    .subtitle {
        margin-top: 4rem;
        font-size: 3rem !important;
    }

    section .col, section .col-sm {
        padding: 1rem !important; 
    }

    .offcanvas {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/images/chickenllamacactus.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0px 10px 1px;
        font-size: 1.5rem;
    }
  }


body, html {
    background-color: var(--clc-green);
    color: var(--clc-white);
}


main {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 9.625rem;
}


section {
    display: flex;
}

section .col, section .col-sm {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem; 
}


footer {
    background-color: var(--clc-black);
    color: var(--clc-white);
    margin-top: 10rem;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--clc-white);
    text-decoration: none;
    font-size: 0.75rem;
}

footer p {
    margin-bottom: 0;
}


.btn {
    border: solid 0.25rem var(--clc-white);
    color: var(--clc-white);
}


.btn-red {
    color: var(--clc-white);
    background-color: var(--clc-red);
}

.btn-red:hover {
    color: var(--clc-white);
    background-color: #ff5e38;
    transition: ease 200ms;
}


.title {
    font-size: 6.5rem;
}


.subtitle {
    font-size: 4rem;
}


.card {
    width: 16rem;
    margin: 1rem;
    background: none;
    border: none;
}


.card-img {
    height: 100%;
}


.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-text {
    text-align: center;
    color: var(--clc-white);
}


.clc-form {
    border-radius: 1rem;
    color: var(--clc-white);
    padding: 2.5rem;
    max-width: 37.5rem;
}

.clc-form .clc-form-header {
    display: flex;
    align-content: center;
    margin-top: 0 !important;
}

.clc-form .clc-form-header h3 {
    text-align: center;
    margin-bottom: 0;
}

.clc-form .row {
    margin-top: 1rem;
}

.clc-form button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
}

.clc-form label {
    font-weight: bold;
}

.clc-form .form-control {
    background-color: var(--clc-black);
    border: 0.125rem solid var(--clc-white);
    color: var(--clc-white);
    transition: ease 200ms;
}

.clc-form .form-control:focus {
    border: 0.125rem solid var(--clc-black);
    box-shadow: none;
    outline: none;
    transition: ease 200ms;
}


.text-clc-red {
    color: var(--clc-red);
}

.navbar {
    background-color: var(--clc-green);
    padding: 1rem 0 1rem 0;
}

.navbar a {
    color: var(--clc-white);
}


.navbar-toggler {
    border: none;
    color: var(--clc-white);
    font-size: 2.5rem;
}


.navbar .navbar-brand img {
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 7rem;
}


.nav-link {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    min-width: 0.5rem;
}

.nav-link:hover {
    background-color: var(--clc-red);
}


.offcanvas {
    color: var(--clc-white);
    text-align: center;
    font-size: 1rem;
}

.offcanvas .btn-close {
    color: var(--clc-white);
}

.offcanvas .offcanvas-header .close {
    border: none;
    font-size: 1.75rem;
}


.offcanvas-body {
    color: var(--clc-white);
}

.offcanvas-body .nav-link, .offcanvas-body .nav-link.active {
    color: var(--clc-white);
}

.offcanvas-body .nav-link.active {
    background-color: var(--clc-red);
}


.clc-badge {
    background: var(--clc-black);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
}


#title-section {
    justify-content: center;
}

#mc-section {
    justify-content: center;
}
