:root {
    --clc-green: #73ac52;
    --clc-red: #ff5e38;
    --clc-white: #fbfcff;
    --clc-black: #22333B;
}


@media only screen and (max-width: 576px) {
    .offcanvas {
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./assets/images/chickenllamacactus.jpg);
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0 0px 10px 1px;
        font-size: 1.5rem;
    }
  }


body, html {
    height: 100%;
    background-color: var(--clc-green);
    color: var(--clc-white);
}


main {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}


.btn {
    border: solid 0.25rem var(--clc-white);
    color: var(--clc-white);
}


.btn-red {
    color: var(--clc-white);
    background-color: var(--clc-red);
}

.btn-red:hover {
    color: var(--clc-white);
    background-color: #ff5e38;
    transition: ease 200ms;
}


.title-container {
    padding-top: 20vh;
}


.title {
    font-size: 6.5rem;
}


.subtitle {
    font-size: 4rem;
}


.cards-container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}


.card {
    width: 16rem;
    margin: 1rem;
    background: none;
    border-radius: 0;
    border: 1rem solid var(--clc-white);
}


.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-text {
    text-align: center;
    color: var(--clc-white);
}


.chickenllamacactus {
    width: inherit;
    width: 300px;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgb(82, 82, 82);
}


.clc-form {
    border-radius: 1rem;
    color: var(--clc-white);
    padding: 2.5rem;
    max-width: 37.5rem;
}

.clc-form .clc-form-header {
    display: flex;
    align-content: center;
    margin-top: 0 !important;
}

.clc-form .clc-form-header h3 {
    text-align: center;
    margin-bottom: 0;
}

.clc-form .row {
    margin-top: 1rem;
}

.clc-form button[type="submit"] {
    width: 100%;
    margin-top: 1rem;
}

.clc-form label {
    font-weight: bold;
}

.clc-form .form-control {
    background-color: transparent;
    border: 0.125rem solid var(--clc-white);
    color: var(--clc-white);
    transition: ease 200ms;
}

.clc-form .form-control:focus {
    border: 0.125rem solid #BCD7AC;
    box-shadow: none;
    outline: none;
    transition: ease 200ms;
}


.text-clc-red {
    color: var(--clc-red);
}

.navbar {
    padding: 2rem;
}

.navbar a {
    color: var(--clc-white);
}


.navbar-toggler {
    border: none;
    color: var(--clc-white);
}


.navbar .navbar-brand img {
    border-radius: 1.5rem;
    border: solid 0.125rem var(--clc-white);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 5rem;
}


.nav-link {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    min-width: 0.5rem;
}

.nav-link:hover {
    background-color: var(--clc-red);
}


.offcanvas {
    color: var(--clc-white);
    text-align: center;
    font-size: 1rem;
}

.offcanvas .btn-close {
    color: var(--clc-white);
}

.offcanvas .offcanvas-header .close {
    border: none;
    font-size: 1.75rem;
}


.offcanvas-body {
    color: var(--clc-white);
}

.offcanvas-body .nav-link, .offcanvas-body .nav-link.active {
    color: var(--clc-white);
}

.offcanvas-body .nav-link.active {
    background-color: var(--clc-red);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
}

